body {
  background-image: url("image/upn.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.85;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}
